<main class="home">
  <h1 class="h1">Abhishek <span class="last-name">Antony</span></h1>

  <h2 class="h2">Beginer Web Developer based in Kochi</h2>

  <section class="social-media">
    <a
      href="https://www.linkedin.com/in/abhishek-antony-781022212/"
      rel="nofollow"
      title="LinkedIn"
      target="_blank">
      <i
        class="fab fa-linkedin fa-2x">
      </i>
    </a>

    <a
      href="https://github.com/sheknoob"
      rel="nofollow"
      title="GitHub"
      target="_blank">
      <i
        class="fab fa-github fa-2x">
      </i>
    </a>

    <a
      href="https://instagram.com/just._.shek"
      rel="nofollow"
      title="instagram"
      target="_blank">
      <i
        class="fab fa-instagram fa-2x">
      </i>
    </a>
  </section>
</main>
